<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Found members</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Authors</h1>

<div th:each="names: ${session.authors}">

        <p  th:text="'Name: ' + ${names.getName().getGivenNames().getValue()} +' '+ ${names.getName().getFamilyName().getValue()}
     +', ORCID ID: '+${names.getName().getPath()}"> </p>
</div>

<a href="/search">Search another member</a>
</body>
</html>