<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Found members</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text=" 'About: ' + ${session.aboutSelectedAuthor.getName().getGivenNames().getValue()} +' '+
${session.aboutSelectedAuthor.getName().getFamilyName().getValue()}"></h1>
<h2 th:if="${session.aboutSelectedAuthor.getBiography() != null}">Biography</h2>
<p th:if="${session.aboutSelectedAuthor.getBiography() != null}" th:text="${session.aboutSelectedAuthor.getBiography().getContent()}"></p>
<p></p>
<h2 th:if="${session.employment != null}">Employment</h2>
<div th:if="${session.employment != null}" th:each="emp: ${session.employment}">
    <p  th:if="${session.employment != null}" th:text="${emp}"></p>
</div>
<form action="#" th:action="@{/dataAboutAuthor}" th:object="${search}" method="post">
    <p>Works</p>
    <p>Works since: <input th:field="*{worksSince}" type="Date" /></p>
    <p>Works to: <input th:field="*{worksTo}" type="Date" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</div>
</body>
</html>