<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Found members</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<<div th:each="work: ${session.works}">
    <p th:text="'Title: ' + ${work.getBulk().get(0).getWork().getTitle().getTitle().getValue()}"> </p>
    <p th:text="'Part of ISSN: ' + ${work.getBulk().get(0).getWork().getExternalIds().getExternalId().get(0).getExternalIdValue()}"> </p>
    <p th:text="'DOI: ' + ${work.getBulk().get(0).getWork().getExternalIds().getExternalId().get(1).getExternalIdValue()}"> </p>
</div>

</body>
</html>